!**
.build
.dist
.tmp
docs/**
_site/**
content/exchanges/**
!content/exchanges/README.md
content/logs/**
!content/logs/README.md
node_modules/**
**/*.db*
*.db*
.af*
.git*
.groc*
.jshintrc
.jscsrc
*.iml
config.js
core/built/**/*.map
core/built/**/test-*
core/built/**/tests-*
core/client/**
core/server/__tests__/**
CONTRIBUTING.md
SECURITY.md
.travis.yml
*.html
bower_components/**
.editorconfig
gulpfile.js
package-lock.json
